body{
    margin:0;
    text-align:center;
}
img{
    width: 10%;
    height:auto;
}
.navbar{
    background-color:#dff3e3;
    text-align:left;
    height:165px;
}
.top-container{
    background-color:#e8ffff;
    height: 700px;
    width:100%;
    margin-right:0;
    text-align:center;
}
.middle-container{
    background-color:#ffb26b;
    height: 700px;
    
}
.bottom-container{
    background-color:#f4eeed;
    height: 700px;
}
#mountain_1{
    width:80%;
    height:30%;
    position:relative;
    top:370px;
}
#mountain_2{
    width: 80%;
    height:40%;
    position: relative;
    top:420px;
    right:380px;
}
#mountain_3{
    width: 70%;
    height:40%;
    position: relative;
    top:420px;
    left:160px;
}
#first_intro{
    font-size:4em;
    position: relative;
    top:150px;
    margin:0 auto 0 auto;
    font-family: 'Sacramento', cursive;
}
h2{
    position: relative;
    font-family: 'Roboto Slab', serif;
    margin:0;
    top:150px;
    
}
#computer-skills{
    position: absolute;
    top:950px;
    right:300px;
}

#comp-skills-list{
    position: absolute;
    font-size: 1.25em;
    top:1000px;
    left:800px;
    text-align:left;
}
#lang-skills-list{
    position: absolute;
    font-size: 1.25em;
    top:1300px;
    left:800px;
    text-align:left;
}
#lang-skills{
    position: absolute;
    top:1250px;
    right:300px;
}
#contact-h{
    position: absolute;
    text-align:left;
    left:120px;
    top:1600px;
}
form{
    position: absolute;
    text-align:left;
    left:120px;
    top:1700px;
}

#linkedin{
    position: absolute;
    top:2150px;
    width:70px;
    left:120px;

}