body{
    margin:0;
    text-align:center;
}
img{
    width: 10%;
    height:auto;
}
.navbar{
    background-color:#dff3e3;
    text-align:left;
    height:165px;
}
.top-container{
    background-color:#e8ffff;
    height: 700px;
    width:100%;
    margin-right:0;
}
.middle-container{
    background-color:#ffb26b;
    height: 700px;
    
}
.bottom-container{
    background-color:#f4eeed;
    height: 700px;
}
#mountain_1{
    width:80%;
    height:30%;
    position:relative;
    top:453px;
}
#mountain_2{
    width: 80%;
    height:40%;
    position: relative;
    top:420px;
    right:380px;
}
#mountain_3{
    width: 70%;
    height:40%;
    position: relative;
    top:420px;
    left:210px;
}
#first_intro{
    position: relative;
    top:250px;
    margin:0 auto 0 auto;
}
