body{
    margin:0;
    text-align:center;
}
img{
    width: 10%;
    height:auto;
}
.navbar{
    background-color:#dff3e3;
    text-align:left;
    height:100px;
}
.top-container{
    background-color:#e8ffff;
    height: 700px;
    width:100%;
    margin-right:0;
    text-align:center;
}
.middle-container{
    background-color:#ffd4a2;
    height: 700px;
    
}
.bottom-container{
    background-color:#f4eeed;
    height: 765px;
}
#mountain_1{
    width:80%;
    height:30%;
    position:relative;
    top:366px;
}
#mountain_2{
    width: 80%;
    height:40%;
    position: relative;
    top:420px;
    right:380px;
}
#mountain_3{
    width: 70%;
    height:40%;
    position: relative;
    top:460px;
    left:160px;
}
#first_intro{
    font-size:4em;
    position: relative;
    top:150px;
    margin:0 auto 0 auto;
    font-family: 'Sacramento', cursive;
}
h2{
    position: relative;
    font-family: 'Roboto Slab', serif;
    margin:0;
    top:150px;
    
}
#computer-skills{
    position: absolute;
    top:975px;
    left:800px;
}

#comp-skills-list{
    background-color:#f7bb77;
    border:1px solid;
    border-radius: 10px;
    padding:20px;
    position: absolute;
    font-size: 1.25em;
    top:1000px;
    left:800px;
    text-align:left;
    width:400px;
}
#lang-skills-list{
    background-color:#f7bb77;
    border-radius: 10px;
    border:1px solid;
    padding:20px;
    position: absolute;
    font-size: 1.25em;
    top:1300px;
    left:800px;
    text-align:left;
    width:400px;
}
#lang-skills{
    position: absolute;
    top:1270px;
    left:800px;
}
#contact-h{
    position: absolute;
    text-align:left;
    left:120px;
    top:1625px;
}
form{
    border-radius: 5px;
    border: 1px solid;
    padding: 15px;
    background-color:#cfd3ce;
    position: absolute;
    text-align:left;
    left:120px;
    top:1675px;
}

.logos{
    position: absolute;
    top:2170px;
    width:70px;
    height:70px;
    left:120px;
    display: inline;

}
#medium{
    left:220px;
}

#cloud1{
    position: absolute;
    top:500px;
    left:450px;
}

#cloud2{
    position: absolute;
    right:450px;
    top:400px;
}
#baloon1{
    position:absolute;
    top:950px;
    left:50px;
}
#baloon2{
    position:absolute;
    top:1150px;
    left:450px;
}
#planet1{
    position:absolute;
    top:1455px;
    left:1050px;
}
#planet2{
    position:absolute;
    top:1800px;
    left:600px;
}

#spaceship{
    position: absolute;
    top:1900px;
    left:1200px;
}

#mid_link{
    position: absolute;
    top:30px;
    right:30px;
    font-size:2em;
    text-decoration: solid;
    border:2px solid;
    padding:10px;
    border-radius: 10px;
}

#bottom_link{

    position: absolute;
    top:30px;
    right:200px;
    font-size:2em;
    text-decoration: solid;
    border:2px solid;
    padding:10px;
    border-radius: 10px;
}